.header {
  position: relative;
  color: #621b3b;
  min-height: 100vh;
  padding: 0 6rem 12rem 6rem;
  background: url(world-map.png);
  background-size: cover;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.header__vison {
  width: 100%;
  font-size: 2.4rem;
  padding: 1rem 0;
  text-align: center;
  background: #fbe5aa;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

.header h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
}

.header p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

.header button {
  font-size: 1.4rem;

  color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 10rem;
  background-color: #821b4a;
}
