/* Download.module.css */
.section__download {
  color: #000;
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .section__download {
    flex-direction: column;
    padding: 4rem;
  }
}

.download__cloth {
  flex: 1;
  max-width: 50%;
}

.download__cloth img {
  display: block;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.download__content {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .download__cloth,
  .download__content {
    max-width: 100%;
    width: 100%;
  }
  
  .download__cloth {
    height: auto;
    aspect-ratio: 750 / 475;
    border-radius: 1rem;
  }
}

.download__content h3 {
  color: #621b3b;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.download__content p {
  font-size: 1.8rem;
}

.download__button {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.download__app_button {
  width: 220px;
  height: 119px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.download__app_button img {
  width: 100%;  
  height: 100%;
  object-fit: contain;
}