.footer {
  display: flex;
  color: #000;
  padding: 3rem 6rem;
}

.footer__company {
  flex: 0 0 auto;
  width: 60%;
}

.footer__details {
  display: flex;
  align-items: flex-start;
  margin-left: auto;

  flex: 1;

  display: flex;
  align-items: flex-start;
}

.footer__details div {
  flex: 1;
}

.footer__details ul {
  list-style: none;
}
