.header {
  position: relative;
  color: #621b3b;
  min-height: 90vh;
  padding: 0 6rem 10rem 8rem;
  background: url(../../public/world-map.png);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.header h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
}

.header p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

.header button {
  font-size: 1.4rem;
  cursor: pointer;

  color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 10rem;
  background-color: #821b4a;
}

.header button:hover {
  background-color: #9e225a;
}

@media only screen and (max-width: 37.5em) {
  .header {
    justify-content: center;
    padding: 4rem;
  }

  .header h1 {
    font-size: 4rem;
  }

  .header p {
    font-size: 1.5rem;
  }

  .header button {
    font-size: 1.3rem;
    padding: 1.5rem 9rem;
  }
}
