/* Header.module.css */
.header {
  position: relative;
  color: #621b3b;
  min-height: 100vh;
  padding: 8rem 6rem 10rem 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}

.header.videoPlaying {
  color: #ffffff;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.background-image {
  background-image: url(/africa.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: backgroundAnimation 10s ease-in-out infinite;
}

.lottie-container-green {
  position: absolute;
  top: 15%;
  left: 35%;
  z-index: 2;
}

.lottie-container-orange {
  position: absolute;
  z-index: 2;
}

@keyframes backgroundAnimation {
  0% { transform: scale(1) translate(0, 0); }
  10% { transform: scale(1.4) translate(-10%, 20%); }
  20% { transform: scale(1.4) translate(-10%, -15%); }
  40% { transform: scale(1.4) translate(10%, 20%); }
  60% { transform: scale(1.4) translate(-10%, 10%); }
  80% { transform: scale(1.4) translate(-10%, 20%); }
  90% { transform: scale(1.4) translate(10%, 20%); }
  100% { transform: scale(1) translate(0, 0); }
}

.video-container {
  position: relative;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85));
}

.background-item.active {
  opacity: 1;
}

.header h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.header p {
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header button {
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 10rem;
  background-color: #821b4a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.videoPlaying button {
  color: #821b4a;
  background-color: #fff;
}

.header button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.header button:hover::before {
  left: 100%;
}

.header button:hover {
  background-color: #9e225a;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.videoPlaying button:hover {
  background-color: #f0f0f0;
}

.header button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .header {
    justify-content: center;
    padding: 4rem;
  }
  
  .background-container {
    overflow: hidden;
  }
  
  .background-image {
    background-size: 200%;
    margin: -45%;
    width: 200%;
    height: 150%;
    animation: mobileBackgroundAnimation 20s ease-in-out infinite;
  }
  
  @keyframes mobileBackgroundAnimation {
    0% { transform: scale(1) translate(0, 0); }
    10% { transform: scale(1.5) translate(15%, 15%); }
    20% { transform: scale(1.2) translate(-10%, 20%); }
    30% { transform: scale(1.8) translate(-25%, 15%); }
    40% { transform: scale(1.4) translate(-20%,-20%); }
    50% { transform: scale(1.6) translate(-20%, 20%); }
    60% { transform: scale(1.3) translate(-25%, 15%); }
    70% { transform: scale(1.5) translate(15%, 15%); }
    80% { transform: scale(1.2) translate(15%, 15%); }
    90% { transform: scale(1.4) translate(0, 0); }
    100% { transform: scale(1) translate(0, 0); }
  }
  
  .background-video {
    object-position: 60% -20%;
  }
  
  .header h1 {
    font-size: 4rem;
  }
  
  .header p {
    font-size: 1.7rem;
  }
  
  .header button {
    font-size: 1.2rem;
    padding: 1.2rem 7rem;
    margin-top: 1rem;
  }

  .lottie-container-green {
    top: 30%;
    left: 19%;
  }
}