.section__market {
  color: #000;
  background: #faf6eb;
  padding: 3rem 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .section__market {
    flex-direction: column;
    padding: 4rem;
  }
}

.market__content h2 {
  font-size: 3rem;
}

.market__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.market__content p {
  font-size: 1.8rem;
  width: 60%;
}

.market__img {
  position: relative;
  bottom: -3.3rem;
  right: -4.9%;
}

.market__btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.market__app_btn {
  width: 119px;
  height: 119px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.market__app_btn img {
  width: 110%;
  height: 100%;
  object-fit: contain;
}

.market__start {
  color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem 10rem;
  background: #621b3b;
}

@media only screen and (max-width: 37.5em) {
  .market__content {
    align-items: center;
  }

  .market__content p {
    width: 100%;
  }

  .market__img {
    display: none;
  }
}
