.section__work {
  color: #000;
  padding: 6rem;

  background: url(work-world.png) no-repeat;
  background-position: center;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.section__work h3,
.section__work h2 {
  color: #621b3b;
}

.section__work h2 {
  align-self: center;

  font-size: 2.5rem;
  background: #fff;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.227);
}

.section__work h3 {
  font-size: 2rem;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.224);
}

.section__work img {
  display: block;
  width: 100%;
}

.work__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
